body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding-bottom: 100%;
    background-color: rgb(17, 135, 17);
    width: 25%;
    color: white;
    display: flex;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
}


ul li{
    color: white;
    list-style: none;
}

ul li:hover{
    background-color: rgb(1, 113, 1);
}

a{
    color: white;
    text-decoration: none;
    display: block;
}